body{
  padding:0 !important;
  margin:0 !important;
  background:linear-gradient(180deg,lightgrey,#d3d3d3) !important;
  color:#000 !important;
  /* transition: opacity .15s linear !important; */
  font-family: 'Poppins', sans-serif !important;
  
}
#home_container{
  margin-top: 5rem !important;
  }
  .navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    /* color:  	#00964b !important; */
    font-size: 2rem !important;
    text-shadow: 5px 2px 5px #000000;
  }
.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}
.navbar_Collapse{
  border-radius: 2rem !important;
  border-color: rgb(219, 218, 218) !important;
}
.add_user{
  border-radius: 2rem !important;
}
.hoverEffect{
  color:#fff !important;
  border-bottom: 1px solid lightgray !important;
  /* transition:  1s ease; */
}
.add_user_form{
  box-shadow:5px 5px 15px rgba(0,0,0,0.6);
  padding:2rem;
  border-radius: 1rem;
}